<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking appointment</title>
    <link rel="stylesheet" href="./booking.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
        <fieldset style="background-color: white; border-radius: 20px;">
            <h1 id="ti1">Book a call</h1>
            <h3 id="we1">Book a call slot and our representative will call you within 1hr of Selected time.</h3>
            <hr>
            <form action="#" id="my-form">
                <label for="username" style="padding-right: 8rem;">Name</label>
                <br>
                <input type="text" id="name" name="name">
                <br>
                <label for="useremail" style="padding-right: 8rem;">Email</label>
                <br>
                <input type="email" id="email" name="Email">
                <br>
                <label for="usernumber" style="padding-right: 8rem;">Phone</label>
                <br>
                <input type="tel" id="number" name="usernumber">
                <br>
                <br>
                <button type="submit">Get a Call</button>
            </form>
        </fieldset>
        <ul id="list"></ul>
        <script src="./booking.js"></script>
    </form>
</body>
</html>